node_modules
.idea
.DS_Store

node_modules

#Hardhat files
cache
artifacts

config/*

circuits/circuit.circom
circuits/new_powersoftau.ptau
circuits/verification_key.json
circuits/witness.json
circuits/witness.wtns
circuits/Verifier.sol
circuits/public.json
circuits/proof.json
circuits/_proof.json
circuits/input.json
circuits/circuit.json
circuits/circuit.r1cs
circuits/circuit.sym
circuits/circuit.wasm
circuits/circuit.zkey
circuits/calldata.json
circuits/proving_key.json
test/calldata.json
sdk/**/*.js
scripts/**/*.js
frontend/dist
